<!DOCTYPE html>
<html lang="ko">
  <head>
    {{> ../partials/meta}}
    {{> ../partials/link}}
    {{> ../partials/guide}}
    {{> ../partials/script}}
    <link rel="stylesheet" href="styles/guide.css" />
    <title>Module</title>
  </head>
  <body class="page-guide">
    <header class="header">
      <h1 class="header__title">Module</h1>
      <div class="btn-wrap">
        <a href="codingList.html" class="button" data-type="default">List</a>
        <a href="foundation.html" class="button" data-type="default"
          >Foundation</a
        >
        <a href="component.html" class="button" data-type="default"
          >Component</a
        >
      </div>
    </header>
    <div class="content">
      <div class="wrapper">
        <section class="section section-sample">
          <div class="section__header">
            <h2 class="section__title">Module</h2>
            <p class="section__desc">모듈</p>
          </div>
          <div class="section__content"></div>
        </section>
      </div>
    </div>
  </body>
</html>
