<!DOCTYPE html>
<html lang="ko">
  <head>
    {{> ../partials/meta}}
    {{> ../partials/link}}
    {{> ../partials/script}}
    <title>sample</title>
  </head>
  <body>
    {{> ../partials/header}}

    <div class="content"></div>
  </body>
</html>
