@import 'tailwindcss';
@theme {
  --font-pretendard:
    'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;

  /** Responsive */
  --breakpoint-xs: 280px;
  --breakpoint-sm: 320px;

  /** Foundation - Primary Colors */
  --color-primary-dark: #222326;
  --color-primary-dark1: #7f8186;
  --color-primary-dark2: #c1c4ce;
  --color-primary-dark3: #e0e1e5;
  --color-primary-dark4: #f4f4f5;

  /** Foundation - Point Colors */
  --color-point-t-blue: #3515cd;
  --color-point-blue1: #533afe;
  --color-point-blue2: #6c77fe;
  --color-point-blue3: #9aaafe;
  --color-point-blue4: #d1dafe;

  /** Foundation - Semantic Colors */
  --color-semantic-red: #ea3845;
  --color-semantic-orange: #ff8914;
  --color-semantic-yellow: #ffc31f;
  --color-semantic-green: #3eb445;
  --color-semantic-blue: #4286ff;

  /** Contents - Gray Scale */
  --color-gray-white: #ffffff;
  --color-gray-5: #f2f3f6;
  --color-gray-10: #e8ebf2;
  --color-gray-15: #e0e1e5;
  --color-gray-20: #d6d8de;
  --color-gray-25: #caccd3;
  --color-gray-30: #b8bac3;
  --color-gray-40: #95979e;
  --color-gray-50: #7f8186;
  --color-gray-60: #626468;
  --color-gray-70: #565960;
  --color-gray-80: #4a4c51;
  --color-gray-90: #404247;
  --color-gray-95: #222326;
  --color-gray-black: #111214;

  /** Contents - Background Colors */
  --color-bg-light: #ffffff;
  --color-bg-scrim: #808080;

  /** Button States - Dark */
  --color-btn-dark-default: #222326;
  --color-btn-dark-pressed: #111214;
  --color-btn-dark-disabled: #222326;

  /** Button States - Gray */
  --color-btn-gray-default: #eeeff2;
  --color-btn-gray-pressed: #d6d8de;
  --color-btn-gray-disabled: #eeeff2;

  /** Button States - White */
  --color-btn-white-default: #ffffff;
  --color-btn-white-pressed: #eeeff1;
  --color-btn-white-disabled: #eeeff2;

  /** Outline */
  --color-outline: #111214;

  /** Title Typography Scale */
  --text-title-1: 24px;
  --text-title-2: 22px;
  --text-title-3: 20px;
  --text-title-4: 18px;
  --text-title-5: 16px;

  /** Body Typography Scale */
  --text-body-1: 20px;
  --text-body-2: 18px;
  --text-body-3: 16px;
  --text-body-4: 15px;
  --text-body-5: 14px;
  --text-body-6: 13px;
  --text-body-7: 12px;
  --text-body-8: 11px;
  --text-body-9: 10px;
  --text-body-10: 9px;

  /** Layout */
  --layout-max-width: 600px;
}

@font-face {
  font-style: normal;
  font-weight: 45 920;
  src: url('../assets/fonts/PretendardVariable.woff2')
    format('woff2-variations');
  font-family: 'Pretendard Variable';
  font-display: swap;
}

/** Typography */
@utility text-title-1 {
  font-size: var(--text-title-1);
  line-height: 140%;
  font-family: 'Pretendard Variable';
  letter-spacing: -0.48px;
}
@utility text-title-2 {
  font-size: var(--text-title-2);
  line-height: 145%;
  font-family: 'Pretendard Variable';
  letter-spacing: -0.44px;
}
@utility text-title-3 {
  font-size: var(--text-title-3);
  line-height: 140%;
  font-family: 'Pretendard Variable';
  letter-spacing: -0.4px;
}
@utility text-title-4 {
  font-size: var(--text-title-4);
  line-height: 140%;
  font-family: 'Pretendard Variable';
  letter-spacing: -0.36px;
}
@utility text-title-5 {
  font-size: var(--text-title-5);
  line-height: 140%;
  font-family: 'Pretendard Variable';
  letter-spacing: -0.32px;
}

@utility text-body-1 {
  font-size: var(--text-body-1);
  line-height: 140%;
  letter-spacing: -0.4px;
}
@utility text-body-2 {
  font-size: var(--text-body-2);
  line-height: 140%;
  letter-spacing: -0.36px;
}
@utility text-body-3 {
  font-size: var(--text-body-3);
  line-height: 140%;
  letter-spacing: -0.32px;
}
@utility text-body-4 {
  font-size: var(--text-body-4);
  line-height: 140%;
  letter-spacing: -0.3px;
}
@utility text-body-5 {
  font-size: var(--text-body-5);
  line-height: 140%;
  letter-spacing: -0.28px;
}
@utility text-body-6 {
  font-size: var(--text-body-6);
  line-height: 140%;
  letter-spacing: -0.26px;
}
@utility text-body-7 {
  font-size: var(--text-body-7);
  line-height: 140%;
  letter-spacing: -0.24px;
}
@utility text-body-8 {
  font-size: var(--text-body-8);
  line-height: 140%;
  letter-spacing: -0.22px;
}
@utility text-body-9 {
  font-size: var(--text-body-9);
  line-height: 140%;
  letter-spacing: -0.2px;
}
@utility text-body-10 {
  font-size: var(--text-body-10);
  line-height: 140%;
  letter-spacing: -0.18px;
}
