@import 'base.css';
@import 'button.css';

body {
  font-family: var(--font-pretendard);
}

@layer utilities {
  /* .bg-logo {
    background-image: url('../assets/images/logo.png');
    background-position: center;
    background-size: cover;
  } */
}
