@import 'base.css';
@import 'utility.css';
@import 'images.css';
@import './components/components.css';
@import './page.css';

@layer base {
  *:focus {
    outline: none;
  }

  body {
    margin: 0 auto;
    background: #ffffff;
    color: var(--color-gray-black);
    font-family: var(--font-pretendard);
  }

  a,
  input,
  button {
    @apply focus-visible:outline-[var(--color-outline)] focus-visible:outline-[1px];
  }
}
