<!DOCTYPE html>
<html lang="ko">
  <head>
    {{> ../../partials/meta}}
    {{> ../../partials/link}}
    {{> ../../partials/script}}
    <title>Color</title>
  </head>
  <body class="p-[20px]">
    <p class="mb-[10px] text-[40px] font-bold">Color</p>
    <div class="space-y-[30px]">
      <div>
        <p class="text-title-1 mb-[10px] text-[24px] font-bold">
          Primary Color
        </p>
        <div class="flex flex-col items-center gap-[10px]">
          <div class="ColorChip bg-primary-dark">
            <p class="ColorChip__text">Dark</p>
          </div>
          <div class="ColorChip bg-primary-dark1">
            <p class="ColorChip__text">Dark1</p>
          </div>
          <div class="ColorChip bg-primary-dark2">
            <p class="ColorChip__text">Dark2</p>
          </div>
          <div class="ColorChip bg-primary-dark3">
            <p class="ColorChip__text">Dark3</p>
          </div>
          <div class="ColorChip bg-primary-dark4">
            <p class="ColorChip__text">Dark4</p>
          </div>
        </div>
      </div>
      <div>
        <p class="text-title-1 mb-[10px] text-[24px] font-bold">Point Color</p>
        <div class="flex flex-col items-center gap-[10px]">
          <div class="ColorChip bg-point-blue">
            <p class="ColorChip__text">Blue (T Blue)</p>
          </div>
          <div class="ColorChip bg-point-blue1">
            <p class="ColorChip__text">Blue1</p>
          </div>
          <div class="ColorChip bg-point-blue2">
            <p class="ColorChip__text">Blue2</p>
          </div>
          <div class="ColorChip bg-point-blue3">
            <p class="ColorChip__text">Blue3</p>
          </div>
          <div class="ColorChip bg-point-blue4">
            <p class="ColorChip__text">Blue4</p>
          </div>
        </div>
      </div>
      <div>
        <p class="text-title-1 mb-[10px] text-[24px] font-bold">
          Semantic Color
        </p>
        <div class="flex flex-col items-center gap-[10px]">
          <div class="ColorChip bg-semantic-red">
            <p class="ColorChip__text">Red (Negative)</p>
          </div>
          <div class="ColorChip bg-semantic-orange">
            <p class="ColorChip__text">Orange (Warn)</p>
          </div>
          <div class="ColorChip bg-semantic-yellow">
            <p class="ColorChip__text">Yellow (Caution)</p>
          </div>
          <div class="ColorChip bg-semantic-green">
            <p class="ColorChip__text">Green (Positive)</p>
          </div>
          <div class="ColorChip bg-semantic-blue">
            <p class="ColorChip__text">Blue (General)</p>
          </div>
        </div>
      </div>
      <div>
        <p class="text-title-1 mb-[10px] text-[24px] font-bold">
          Content Color
        </p>
        <div class="flex flex-col items-center gap-[10px]">
          <div class="ColorChip bg-bg-light">
            <p class="ColorChip__text">Background Light</p>
          </div>
          <div class="ColorChip bg-bg-scrim">
            <p class="ColorChip__text">Background Scrim</p>
          </div>
          <div class="ColorChip bg-gray-white">
            <p class="ColorChip__text">White</p>
          </div>
          <div class="ColorChip bg-gray-5">
            <p class="ColorChip__text">Gray5</p>
          </div>
          <div class="ColorChip bg-gray-10">
            <p class="ColorChip__text">Gray10</p>
          </div>
          <div class="ColorChip bg-gray-15">
            <p class="ColorChip__text">Gray15</p>
          </div>
          <div class="ColorChip bg-gray-20">
            <p class="ColorChip__text">Gray20</p>
          </div>
          <div class="ColorChip bg-gray-30">
            <p class="ColorChip__text">Gray30</p>
          </div>
          <div class="ColorChip bg-gray-40">
            <p class="ColorChip__text">Gray40</p>
          </div>
          <div class="ColorChip bg-gray-50">
            <p class="ColorChip__text">Gray50</p>
          </div>
          <div class="ColorChip bg-gray-60">
            <p class="ColorChip__text">Gray60</p>
          </div>
          <div class="ColorChip bg-gray-70">
            <p class="ColorChip__text">Gray70</p>
          </div>
          <div class="ColorChip bg-gray-80">
            <p class="ColorChip__text">Gray80</p>
          </div>
          <div class="ColorChip bg-gray-90">
            <p class="ColorChip__text">Gray90</p>
          </div>
          <div class="ColorChip bg-gray-95">
            <p class="ColorChip__text">Gray95</p>
          </div>
          <div class="ColorChip bg-gray-black">
            <p class="ColorChip__text">Black</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
