<!DOCTYPE html>
<html lang="ko">
  <head>
    {{> ../../partials/meta}}
    {{> ../../partials/link}}
    {{> ../../partials/script}}
    <title>Component</title>
  </head>
  <body class="page-guide"></body>
</html>
