<!DOCTYPE html>
<html lang="ko">
  <head>
    {{> ../../partials/meta}}
    {{> ../../partials/link}}
    {{> ../../partials/script}}
    <title>Log</title>
  </head>
  <body class="p-[20px]">
    <p class="mb-[10px] text-[34px] font-bold">Log</p>
    <div class="space-y-[30px]">
      <div>
        <p class="font-bold">250000</p>
        <ul class="text-body-7 space-y-[8px]">
          <li>sample 추가</li>
        </ul>
      </div>
    </div>
  </body>
</html>
