<header class="header" id="header">
  <h1 class="bg-logo relative h-[24px] w-[100px]">
    <a href="home.html" class="block h-full w-full"
      ><span class="sr-only">Logo</span></a
    >
  </h1>
</header>
